.stepper{
    /* position: absolute; */
}

.button{
    height: 40px;
    width: 120px;
    border-style: none;
    background-color: #187381;
    color: #ffff;
    border-radius: 5px;
}

.button_wrapper{
    position: relative;
    left: 150px;
    margin-top: 50px;
}