* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: #ffc83a;
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.sidebar_icons {
  font-size: 28px;
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
  font-size: 25px;
}
.hide {
  display: none;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: #187381;
  text-decoration: none;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: #187381;
  color: #ffff;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: #ffff;
}
.link_text {
  white-space: nowrap;
  font-size: 18px;
}
.menu {
  display: flex;
  color: #187381;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}
.create_ticket_btn {
 height: 40px;
   width: 150px;
  padding: 8px;
  background-color: #187381;
  color: #ffff;
  border-style: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  left: 18px;
}
.icons {
  color: #ffff;
  position: relative;
  bottom: 2px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 5px;
  margin-left: -10px;
  /* box-shadow: 0px 15px 0px; */
}
.top_bar_right_content {
  position: relative;
  right: 240px;
  bottom: 5px;
  font-size: 28px;
}
.user_email{
  color: #187381;
}
.user_role{
  position: relative;
  font-size: 14px;
  left: 40px;
  color: #187381;
}
.topbar_title{
  position: relative;
   color: #187381;
   left: 50px;
}
.table_content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 200px;
}
.table_bg{
  background-color: #ffff;

}

.create_ticket_btn_home{
  height: 40px;
   width: 170px;
  padding: 8px;
  background-color: #187381;
  color: #ffff;
  border-style: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  left: 238px;
}

.data_content{
  position: absolute;
  left: 380px;
}
.data_content_button{
  position: absolute;
  left: 370px;
  top: 120px;
}
.data_content_submit{
   height: 40px;
   width: 150px;
  padding: 8px;
  background-color: #187381;
  color: #ffff;
  border-style: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}